<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

    
<body>
    <nav>
        <div>
           
        Here is your Lesson Menu!
        <a href = "../Home_Page.html">Return to Home Page</a>
        </div>
    </nav>
<main>  
<h1>What are My To Do List Goals?</h1>
<ul>
    <li>To be finanacially stable</li>
    <li>To Finish Frontend Simplified</li>
    <li>To get and have work life balance in my job</li>
    <li>To use coding skills to also showcase some of my art projects I guess..</li>
</ul>
 <h1>To Get Financial Stability 70k+ Dream Job</h1>
 </body>
</main>
 <footer>Copyright terms and conditions</footer>
</body>
</html>